body {
  font: bold;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 117%;
  letter-spacing: 0.03em;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 24px;

  background-color: #5900ff18;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
